@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #205a97;
    text-align: center;
}

h2{
    color: #336192;
}

h4{
    color: #336192;
}

p, li, b{
    color: #262626;
}

#title{
    margin-bottom: 40px;
    padding: 15px 0;
    background-color: #92adccbb;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.home{
    text-align: center;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

#icon-navbar{
    width: 27px;
    height: 27px;
}

hr{
    margin: 20px 0 40px 0;
}

#home{
    display:flex;
}

.box-singup{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-group-flush{
    padding-left: 0;
    width: 20%;
}

.dashboard{
    display: flex;
    justify-content: space-between;
}
